digraph include_graph {
  rankdir=LR;
  compound=true;

{% for id, group in groups %}
  {{id}} [
    label="{{group.name}}"
    shape=rectangle 
    style=filled
    fillcolor="{{group.color}}"
  ]
{% endfor %}

{% for link in links %}
   {{ link.from | link_target }} -> {{link.to | link_target }}
{% endfor %}
}
